<!doctype html>
<html lang="lv">
<head>
  <meta charset="utf-8">
  <title>Haojana Sjuņa muzejs</title>
  <link rel="stylesheet" href="/static/style.css">
</head>

<body>
  <header>
    <img src="static/pictures/logo2.png" alt='logo' class="logo">
    <nav>
      <a href="/" class="nav-link">Galvenā lapa</a>
      <a href="/gallery" class="nav-link">Galerija</a>
    </nav>
  </header>

  <main>


    <section class="controls">
      <h2>Haojana Sjuņa mākslas darbi</h2>
      <div class="filters">
        <button class="filter-btn" data-tag="all">Visi</button>
        <button class="filter-btn" data-tag="piemineklis">Pieminekļi</button>
        <button class="filter-btn" data-tag="glezna">Gleznas</button>
        <button class="filter-btn" data-tag="foto">Fotogrāfijas</button>
      </div>
    </section>
    <section class="gallery">
      <div class="gallery-container"></div>
    </section>
  </main>

  <footer>
    <p>© Haojana Sjuņa muzejs, 2025</p>
  </footer>

  <div id="artwork-modal" class="modal hidden">
    <div class="modal-content">
      <span class="close-btn">×</span>
      <img id="modal-img" src="" alt="">
      <h3 id="modal-title"></h3>
      <p id="modal-year"></p>
    </div>
  </div>

  <script src="/static/js/main.js"></script>
</body>
</html>

