<!doctype html>
<html lang="lv">
<head>
  <meta charset="utf-8">
  <title>Haojana Sjuņa muzejs</title>
  <link rel="stylesheet" href="/static/style.css">
</head>

<body>
  <header>
    <img src="static/pictures/logo.png" alt='logo' class="logo">
    <nav>
      <a href="/" class="nav-link">Galvenā lapa</a>
      <a href="/gallery" class="nav-link">Galerija</a>
      <a href="/photos" class="nav-link">Foto</a>
    </nav>
  </header>

  <main>
    <section class="hero">
      <div class="slider">
        <img class="slider_image" src="/static/images/image1.jpg" alt="slider1">
        <img class="slider_image" src="/static/images/image2.jpeg" alt="slider2">
        <img class="slider_image" src="/static/fotos/foto6.jpg" alt="slider2">
      </div>
    </section>

    <section class="about">
        <h2>Sveicināti! Mani sauc Haojans Sjuņs.</h2>
        <p class="intro_teksts" >Es esmu dzimis 2007. gada 9. jūnijā, un pašlaik man ir 18 gadi. Kopš agras bērnības mani vienmēr ir valdzinājusi māksla — tā man šķita kā burvīga pasaule, kurā iespējams izteikt savas domas, emocijas un sapņus bez vārdiem. Šī interese ir augusi līdz ar mani un kļuvusi par nozīmīgu daļu no manas personības un ikdienas. Māksla man nav tikai aizraušanās vai hobijs — tā ir dzīves forma, caur kuru es cenšos saprast pasauli un pats sevi. <br><br>
            Savus skolas gadus uzsāku Rīgas 45. vidusskolā, kur pirmo reizi atklāju, cik ļoti man patīk radīt un eksperimentēt ar dažādiem materiāliem un formām. Vēlāk turpināju mācības Rīgas Valsts klasiskajā ģimnāzijā, kur piedzīvoju radošu izaugsmi un paplašināju savas zināšanas dažādās jomās — sākot no skulptūru veidošanas un fotogrāfijas līdz programmēšanai un vizuālās kompozīcijas principiem. Šī pieredze man iemācīja skatīties uz mākslu ne tikai kā uz skaistuma radīšanu, bet arī kā uz dziļu domāšanas procesu, kur katrs darbs atspoguļo cilvēka iekšējo pasauli.<br><br>
            Man patīk apgūt gan tradicionālās, gan mūsdienīgās tehnikas. Esmu īpaši aizrāvies ar latviešu un ķīniešu mākslas tradīcijām, jo tās man palīdz izprast kultūras daudzveidību un harmoniju starp seno un moderno. Tā kā nāku no Ķīnas mazpilsētas — Pekinas —, esmu audzis vidē, kur vēsture, arhitektūra un daba savijas vienā lieliskā veselumā. Šī pieredze ir dziļi ietekmējusi manu skatījumu uz mākslu un iedvesmojusi mani radīt darbus, kas apvieno Austrumu mieru ar Rietumu dinamismu.<br><br>
        </p>
    </section>
  </main>

  <footer>
    <p>© Haojana Sjuņa muzejs, 2025</p>
  </footer>

  <script src="/static/js/main.js"></script>
</body>
</html>

