<nav class="navbar navbar-expand-lg navbar-dark my-navbar">
    <h1 class="navbar-brand"><img src="{{ url_for('static', filename='pictures/logo2.png') }}" width="40" height="40">Haojana Sjuņa muzejs </h1>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Info par Haojanu Sjuņu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/gleznas">Gleznas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/skulpturas">Skulptūras</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/pieminekli">Pieminekļi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/foto">Foto</a>
            </li>
        </ul>
    </div>
</nav>
